@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #F5F5F5;
}

img, video, iframe {
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}